<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
html{height:100%;}
body{height:100%;margin:0px;padding:0px}
#container{height:80%}
div.aaa
{
  border:2px solid black;
  overflow: scroll;
}
p
{
  margin: 0;
  padding: 0;
  border:0;
  display:inline;
}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Q3iFU5VmCqgB35gVUYi94UkQH1TwMhpx"></script>
<script src="/static/jquery-3.0.0.js"></script>
<script src="/static/py.js"></script>
</head>
<body>
<div id="container"></div>
<div id="a" style="width:30%;height:20%;border:1px solid black;margin:0;padding:0;overflow:scroll;float:left"></div>
<button id="submit1" type="button" value="生成路网">生成路网</button>
<script type="text/javascript">
//初始化地图容器
var map=new BMap.Map("container"); 
//初始化地图中心点 
var point=new BMap.Point(114.488424, 36.662176);
//设置中心点
map.centerAndZoom(point,15);
//设置允许地图缩放
map.addControl(new BMap.NavigationControl());
//启动鼠标滚轮缩放地图
map.enableScrollWheelZoom();
//启动键盘操作地图
map.enableKeyboard();
var icon1 = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                        anchor: new BMap.Size(10, 25), // 指定定位位置
                        imageOffset: new BMap.Size(0, 0 - 10 * 25) // 设置图片偏移
                    });
var icon2 = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                        anchor: new BMap.Size(20, 40), // 指定定位位置
                        imageOffset: new BMap.Size(0, 0 )
                    });
var icon3 = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
                        anchor: new BMap.Size(-10, 40), // 指定定位位置
                        imageOffset: new BMap.Size(0, 0 )
                    });
//当前的点位，城市
var target,city;
//存储两两点位编号的数组
var connection1=new Array();
//存储与中心点位编号关联的所有点位编号的数组
var connect1=new Array();
//存储点位对象的数组
var road=new Array(100000);
//存储道路信息的数组
var  roadnet=new Array();
//鼠标点击添加两个点的菜单时的处理程序
function addTwoMarkers()
{ 
  //正向点位的处理程序
  //声明一个point对象，将当前点位的经纬度赋值给point对象
  var point=new BMap.Point(target.getPosition().lng,target.getPosition().lat);
  //为当前点位添加一个marker（即显示在地图上的点）的对象
  var marker=new BMap.Marker(point,{enableDragging:true});
  //为当前点位添加文字
  var myLabel=new BMap.Label("正向"+target.getLabel().getTitle(),{offset:new BMap.Size(10,-10),position:point});
  myLabel.setTitle("正向"+target.getLabel().getTitle());
  marker.setLabel(myLabel);
  marker.setOffset(new BMap.Size(0,0));
  //将点位和文字添加到地图上
  map.addOverlay(marker);
  map.addOverlay(myLabel);
  //将正向的点位添加到数据中对应的对象中
  road[target.getLabel().getTitle()-1].zheng=marker;
  //为marker添加拖拽结束处理程序
  marker.addEventListener("dragend",function(e)
  {
    //获取拖拽结束时点的经纬度
    var location=new BMap.Point(e.point.lng,e.point.lat);
    //更新当前点位的经纬度
    e.target.setPosition(location);
    //显示经纬度
    $("#a").text(e.point.lng+ ", " + e.point.lat);
  });
  //为当前点位添加双击处理程序
  marker.addEventListener("dblclick",function(e)
  {
   //双击时移除当前的点位
   map.removeOverlay(e.target);
  });
  //反向点位的处理程序
  //声明一个point对象，将当前点位的经纬度赋值给point对象
  var point=new BMap.Point(target.getPosition().lng,target.getPosition().lat);
  //为当前点位添加一个marker（即显示在地图上的点）的对象
  var marker=new BMap.Marker(point,{enableDragging:true});
  //为当前点位添加文字
  var myLabel=new BMap.Label("反向"+target.getLabel().getTitle(),{offset:new BMap.Size(10,-10),position:point});
  myLabel.setTitle("反向"+target.getLabel().getTitle());
  marker.setLabel(myLabel);
  //将点位和文字添加到地图上
  map.addOverlay(marker);
  map.addOverlay(myLabel);
  marker.setOffset(new BMap.Size(0,0));
  //将反向的点位添加到数据中对应的对象中
  road[target.getLabel().getTitle()-1].fan=marker;
  //为marker添加拖拽结束处理程序
  marker.addEventListener("dragging",function(e)
  {
    //获取拖拽结束时点的经纬度
    var p=new BMap.Point(e.point.lng,e.point.lat);
    //更新当前点位的经纬度
    e.target.setPosition(p);
    //显示经纬度
    $("#a").text(e.point.lng+ ", " + e.point.lat);
  });
  //双击时移除当前的点位
  marker.addEventListener("dblclick",function(e)
  {
   //双击时移除当前的点位
   map.removeOverlay(e.target);
  });
}
//选择当前点位的连通点位
function connection()
{  
  //获取当前被选择的点位
  var nowNum=target.getLabel().getTitle();
  //弹出弹窗，获取弹窗中输入点位编号
  var num1=prompt("请输入道路中与"+target.getLabel().getTitle()+"号AP点连通且相邻的AP点的编号,编号之间用逗号隔开","");
  //将弹窗中输入的数字与当前点位的编号的数字进行字符串拼接
  num=""+nowNum+","+num1;
  if(num!=null)
  {
    //将编号存入数组中
    connect1[nowNum-1]=num;
    // 创建信息窗口对象，引号里可以书写任意的html语句。
    var infoWindow =new BMap.InfoWindow("<div style='font-size:1px'>与"+nowNum+"号AP点相连AP点为"+num1+"</div>");  
    //为当前点位添加弹窗信息，点击是打开窗口，鼠标移走是关闭窗口，窗口中显示与当前点位相连的点位
    target.addEventListener("click", function(){
      this.openInfoWindow(infoWindow);
       });
    target.addEventListener("mouseout", function(){
      this.closeInfoWindow(infoWindow);
       });
    target.setIcon(icon1);
   }
 }
 //之前数组中的每一项是用逗号隔开的点位的字符串，这个函数把点位两两配对，并去重
 function zhengli()
{
  //遍历存储点位的数组中的每一项
  for(var i=0;i<connect1.length;i++)
  { 
    //判断数组中的该项是否存在
    if(connect1[i])
    {
      //分别将数组中的每一项提取出来，存储到zhengli1中
      var zhengli1=connect1[i].split(",");
      //将与某一点位相连的点位进行两两配对，并存储到connection1数组中
      for(var j=0;j<zhengli1.length-1;j++)
      {
        var mars=new Array();
        mars.push(zhengli1[0]);
        mars.push(zhengli1[j+1]);
        mars.sort(function compare(a,b){return a-b;});
        connection1.push(mars);
       }
     }
  }
  //点位去重的操作
  var hash = {};
  var resultt = [];
  for(var i = 0, len = connection1.length; i < len; i++)
  {
    if(!hash[connection1[i]])
    {
      resultt.push(connection1[i]);
      hash[connection1[i]] = true;
    }
  }
  connection1=resultt;
}
//获取location表中点位的经纬度和编号
$.ajax({
   //连接的URL
   url:"/createRoadnet/location",
   //数据传输方式
   type:"POST",
   //采取异步数据传输方式
   async:true,
   //返回数据的接收处理函数
   success:function(data)
   { 
     //解析返回的数据
     var result=eval("("+data+")");
     //获取返回的第一条数据，并重新将其设置为中心点
     var center_point=new BMap.Point(result2[0]["lon"],result2[0]["lat"]);
     //设置地图中心点
     map.centerAndZoom(center_point,15);
     //遍历每一个点位，将其添加到地图上
     for(var i=0;i<result.length;i++)
     {  
        //设置第i个点
        var point=new BMap.Point(result[i]["lon"],result[i]["lat"]);
        //为第i个点添加一个标记
        var marker=new BMap.Marker(point);
        //初始化菜单
        var contextMenu=new BMap.ContextMenu();
        //设置菜单选项
        var menuItem=new BMap.MenuItem("添加两个点",addTwoMarkers);
        var menuItem1=new BMap.MenuItem("选择连通点",connection);
        menuItem.enable();
        contextMenu.addItem(menuItem1);
        contextMenu.addItem(menuItem);
        marker.addContextMenu(contextMenu);
        //设置第一个点旁边的文字,即点位对应的序号
        var myLabel=new BMap.Label(""+(result[i]["num"]),{offset:new BMap.Size(10,-10),position:point});
        myLabel.setTitle(""+(result[i]["num"]));
        //将点位和序号添加到地图上
        marker.setLabel(myLabel);
        map.addOverlay(marker);
        map.addOverlay(myLabel);
        //将正向和反向的点位写进一个对象中
        var biaoji=new Object();
        biaoji.normal=marker;
        biaoji.zheng=null;
        biaoji.fan=null;
        //将所有的封装正向和反向点位的对象写到数组中
        road[result[i]["num"]-1]=biaoji;
        //添加点位的拖放事件，点位拖动时，显示经纬度
        marker.addEventListener("dragging",function(e)
        {
          $("#a").text(e.point.lng+ ", " + e.point.lat);
        });
        //添加点位的右键事件，target表示当前点击右键的点，在点位上点击鼠标右键时，获取当前的点位。
        marker.addEventListener("rightclick",function(e)
        {
          target=e.target;
        });
      }
    }});
function set()
{
  //首先执行这个函数，获取两两相连的点位编号
  zhengli();
  //遍历所有道路信息(即遍历所有两两相连的点位)
  for(var i=0;i<connection1.length;i++)
  { 
    //声明一个存储路网详细信息的对象
    var roadnetinfo=new Object();
    //声明一个临时存储起点和终点经纬度的对象
    var obj=new Object();
    //起点经纬度赋值
    obj.slng=road[connection1[i][0]-1].zheng.getPosition().lng;
    obj.slat=road[connection1[i][0]-1].zheng.getPosition().lat;
    //终点经纬度赋值
    obj.elng=road[connection1[i][1]-1].zheng.getPosition().lng;
    obj.elat=road[connection1[i][1]-1].zheng.getPosition().lat;
    //获取城市和道路信息
    $.ajax({
            url:"/createRoadnet/getArea",
            type:"POST",
            async:false,
            data:obj,
            success:function(data2)
            {
              var data1 = eval("("+data2+")");
              city=data1.result.addressComponent.city;
              roadnetinfo.area=pinyin.getCamelChars(data1.result.addressComponent.district);
              roadnetinfo.name=data1.result.addressComponent.street;
            }});
    obj.city=city;
    //获取距离信息
    $.ajax({
            url:"/createRoadnet/distance",
            type:"POST",
            async:false,
            data:obj,
            success:function(data2)
            {
              var panduan=data2.split(";");
              roadnetinfo.length=Number(panduan[0]);
              //正向距离短，按照原来起点和终点为经纬度赋值
              if(Number(panduan[1])==0)
              {
                roadnetinfo.sap=connection1[i][0];
                roadnetinfo.eap=connection1[i][1];
				        roadnetinfo.sposition=""+road[connection1[i][0]-1].zheng.getPosition().lng+","+road[connection1[i][0]-1].zheng.getPosition().lat;
                roadnetinfo.eposition=""+road[connection1[i][1]-1].zheng.getPosition().lng+","+road[connection1[i][1]-1].zheng.getPosition().lat;
              }
              //正向距离长，倒换起点和终点经纬度
              if(Number(panduan[1])==1)
              {
                roadnetinfo.sap=connection1[i][1];
                roadnetinfo.eap=connection1[i][0];
				        roadnetinfo.sposition=""+road[connection1[i][1]-1].zheng.getPosition().lng+","+road[connection1[i][1]-1].zheng.getPosition().lat;
                roadnetinfo.eposition=""+road[connection1[i][0]-1].zheng.getPosition().lng+","+road[connection1[i][0]-1].zheng.getPosition().lat;
              }
            }});
            //获取城市道路限速信息
            var patt1=new RegExp("高速");
            var patt2=new RegExp("环");
            if(patt1.test(roadnetinfo.name))
            {
              roadnetinfo.maxspeed=120;
              roadnetinfo.level=1;
              roadnetinfo.line1=30;
              roadnetinfo.line2=40;
              roadnetinfo.line3=60;
              roadnetinfo.line4=120;
            }
            else if(patt2.test(roadnetinfo.name))
            {
              roadnetinfo.maxspeed=80;
              roadnetinfo.level=2;
              roadnetinfo.line1=20;
              roadnetinfo.line2=40;
              roadnetinfo.line3=60;
              roadnetinfo.line4=80;
            }
            else
            {
              roadnetinfo.maxspeed=60;
              roadnetinfo.level=3;
              roadnetinfo.line1=10;
              roadnetinfo.line2=20;
              roadnetinfo.line3=35;
              roadnetinfo.line4=60;
            }
            count++;
            //一下为反向道路信息的获取，具体同上
            var obj1=new Object();
            var roadnetinfo1=new Object();
            if(!(road[connection1[i][0]-1].fan==null))
            {
             obj1.slng=road[connection1[i][0]-1].fan.getPosition().lng;
             obj1.slat=road[connection1[i][0]-1].fan.getPosition().lat;
             obj1.elng=road[connection1[i][1]-1].fan.getPosition().lng;
             obj1.elat=road[connection1[i][1]-1].fan.getPosition().lat;
             $.ajax({
                     url:"/createRoadnet/getArea",
                     type:"POST",
                     async:false,
                     data:obj1,
                     success:function(data2)
                    { 
			               var data1 = eval("("+data2+")");
                     city=data1.result.addressComponent.city;
                     roadnetinfo1.area=pinyin.getCamelChars(data1.result.addressComponent.district);
                     roadnetinfo1.name=data1.result.addressComponent.street;
                    }
                    });
             obj1.city=city;
             $.ajax({
             url:"/createRoadnet/distance",
             type:"POST",
             async:false,
             data:obj1,
             success:function(data2)
             {			
              var panduan=data2.split(";");
              roadnetinfo1.length=Number(panduan[0]);
              if(Number(panduan[1])==0)
              {
                roadnetinfo1.sap=connection1[i][0];
                roadnetinfo1.eap=connection1[i][1];
			        	roadnetinfo1.sposition=""+road[connection1[i][0]-1].fan.getPosition().lng+","+road[connection1[i][0]-1].fan.getPosition().lat;
                roadnetinfo1.eposition=""+road[connection1[i][1]-1].fan.getPosition().lng+","+road[connection1[i][1]-1].fan.getPosition().lat;
              }
              if(Number(panduan[1])==1)
              {
                roadnetinfo1.sap=connection1[i][1];
                roadnetinfo1.eap=connection1[i][0];
				        roadnetinfo1.sposition=""+road[connection1[i][1]-1].fan.getPosition().lng+","+road[connection1[i][1]-1].fan.getPosition().lat;
                roadnetinfo1.eposition=""+road[connection1[i][0]-1].fan.getPosition().lng+","+road[connection1[i][0]-1].fan.getPosition().lat;
              }
              if(roadnetinfo.sap==roadnetinfo1.sap)
              {
                roadnetinfo1.sap=roadnetinfo.eap;
                roadnetinfo1.eap=roadnetinfo.sap;
              }
              if(Math.abs(roadnetinfo1.length-roadnetinfo.length)>100)
              {
                if(roadnetinfo1.length>roadnetinfo.length)
                {
                  roadnetinfo1.length=roadnetinfo.length;
                }
                else
                {
                  roadnetinfo.length=roadnetinfo1.length;
                }
              }
             }
             });
             var patt1=new RegExp("高速");
             var patt2=new RegExp("环");
             if(patt1.test(roadnetinfo.name))
             {
              roadnetinfo1.maxspeed=120;
              roadnetinfo1.level=1;
              roadnetinfo1.line1=30;
              roadnetinfo1.line2=40;
              roadnetinfo1.line3=60;
              roadnetinfo1.line4=120;
             }
             else if(patt2.test(roadnetinfo.name)||patt3.test(roadnetinfo.name))
             {
              roadnetinfo1.maxspeed=80;
              roadnetinfo1.level=2;
              roadnetinfo1.line1=20;
              roadnetinfo1.line2=40;
              roadnetinfo1.line3=60;
              roadnetinfo1.line4=80;
             }
             else
             {
              roadnetinfo1.maxspeed=60;
              roadnetinfo1.level=3;
              roadnetinfo1.line1=10;
              roadnetinfo1.line2=20;
              roadnetinfo1.line3=35;
              roadnetinfo1.line4=60;
             }
            //将正向和反向信息存储到一个数组中
            roadnet.push(roadnetinfo);
            roadnet.push(roadnetinfo1);
            count++;
        }
       }
       //执行完上述函数后，显示正在写入数据库
       $("#a").text("正在写入数据库");
       //将数组转化为json格式
       abc=JSON.stringify(roadnet);
       //连接服务器，将路网信息传入后台程序，进行存入数据库的操作
       $.ajax({
            url:"/createRoadnet/sql",
            type:"POST",
            async:false,
            data:{rr:abc},
            success:function(data2)
             {
                result=[];
                $("#a").text("路网生成成功");
             }
             });
     }
//点击生成路网按钮是，执行set函数，生成路网
$("#submit1").click(function()
{
  $("#a").text("正在生成路网，请稍后");
  setTimeout(set,1000);
});
</script>
</body>
</html>


