<!DOCTYPE html>
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<style type="text/css">
html{height:100%;}
body{height:100%;margin:0px;padding:0px}  
#container{height:100%}  
.anchorBL{display:none;}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Q3iFU5VmCqgB35gVUYi94UkQH1TwMhpx"></script>
<script src="/static/jquery-3.0.0.js"></script>
</head>
<body>
<div id="container"></div>
<script type="text/javascript">
//初始化地图容器
var map=new BMap.Map("container"); 
//初始化地图中心点 
var point=new BMap.Point(116.49634, 39.914105);
//设置中心点
map.centerAndZoom(point,15);
//设置允许地图缩放
map.addControl(new BMap.NavigationControl());
//启动鼠标滚轮缩放地图
map.enableScrollWheelZoom();
//启动键盘操作地图
map.enableKeyboard();
//存储显示路段拥堵情况的线条的数组
var pts=new Array();
//设置路网中数据的条数
var length;
$.ajax({
       //设置URL
       url:"/show/getroad",
       //设置数据传输方式
       type:"POST",
       //设置为异步传输
       async:true,
       //接收返回值
       success:function(data)
       {
        //获取路网数据表
        var result = eval("("+data+")");
        //获取数据表的条数
        length=result.length;
        //获取第一个点位的经纬度
        var sp=result[0]["sposition"];
        var sp1=sp.split(",");
        var start_point=new BMap.Point(Number(sp1[0]),Number(sp1[1]));
        //设置中心点
        map.centerAndZoom(start_point,12);

       for(var i=0;i<result.length;i++)
       {
         pts[i]=0;
       }
       //设置路线提取方式为驾车方式
      var driving=new BMap.DrivingRoute(map, {policy:BMAP_DRIVING_POLICY_LEAST_DISTANCE});
      //遍历路网中的所有数据
      for(var i=0;i<result.length;i++)
      { 
        //获取起点经纬度
        var num=result[i]["sposition"];
        var num1=num.split(",");
        var spoint=new BMap.Point(Number(num1[0]),Number(num1[1]));
        //获取终点经纬度
        var num=result[i]["eposition"];
        var num2=num.split(",");
        var epoint=new BMap.Point(Number(num2[0]),Number(num2[1]));
        //进行路线提取
        driving.search(spoint, epoint);  
      }
      //路线提取回调函数
      driving.setSearchCompleteCallback(function(){
        var index=0;
        //获取道路的路线
        var roadinfo=driving.getResults().getPlan(0).getRoute(0).getPath(); 
        //获取起点经纬度
        var start=driving.getResults().getStart().point;
        //获取终点经纬度
        var end=driving.getResults().getEnd().point;
        //初始化一个线条和道路对应
        var road=new BMap.Polyline(roadinfo);
        //设置线条颜色
        road.setStrokeColor("green");
        //设置线条粗细
        road.setStrokeWeight(6);
        //将线条添加到道路上
        map.addOverlay(road);
        //将该线条插入数组中，在数组中的编号和路段编号对应
        for(var i=0;i<result.length;i++)
        {
          var st=result[i]["sposition"];
          var st1=st.split(",");
          var ed=result[i]["eposition"];
          var ed1=ed.split(",");
          if((Number(st1[0])==start.lng)&&(Number(st1[1])==start.lat)&&(Number(ed1[0])==end.lng)&&(Number(ed1[1])==end.lat))
          {
               
                 pts.splice(i,1,road);
          }
        }
      });
    }

});
//根据道路拥堵等级改变道路的颜色
function changeColor()
  {
   $.ajax({
                async : true,
                url :"/show/level",
                type : "post",
                success: function(data){
                 for(var i=0;i<length;i++)
                 {
                    switch(data[""+(i+1)])
                    {
                       case 1:
                        pts[i].setStrokeColor("red");
                        break;
                       case 2:
                        pts[i].setStrokeColor("orange");
                        break;
                       case 3:
                        pts[i].setStrokeColor("yellow");
                        break;
                       case 4:
                        pts[i].setStrokeColor("green");
                        break;
                       case 5:
                        pts[i].setStrokeColor("green");
                        break;
                     }
                  }
                              }});
  }
//设置更新时间为1秒
setInterval(changeColor,60000);
</script>
</body>
</html>